@import '../../sass/mixins.scss';
@import '../../sass/variables.scss';

.container {
  min-height: 100vh;
  background-color: $color-main;
  color: $color-white;
  padding-bottom: 4rem;

  p {
    padding: 1.5rem;
    line-height: 1.5;
    color: $color-light;
  }
}

.heading {
  background-color: $color-black;
  border-bottom: .5rem solid $color-white;

  & h1 {
    padding: 2rem 2.5rem;
    font-weight: 300;
    max-width: $max-container-width;
    margin: 0 auto;

    @include respond($mid) {
      padding: 2rem 4.5rem;
    }
  }
}

.content {
  padding: 1rem;
  max-width: $max-container-width;
  margin: 0 auto;

  @include respond($mid) {
    padding: 5rem 3rem 3rem;
  }
}

.action {
  margin: 1.5rem;
  animation: pulse 1s ease infinite;

  @include respond($mid) {
    margin-top: 4rem;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}