@import '../../sass/mixins.scss';
@import '../../sass/variables.scss';

.container {
  min-height: calc(100vh - 7rem);
  background-color: $color-black;
  color: $color-white;
  padding-bottom: 2rem;

  p {
    padding: 1.5rem;
    line-height: 1.5;
    color: $color-light;
  }

  .heading {
    background-color: $color-main;
    border-bottom: .5rem solid $color-white;
    
    & h1 {    
      padding: 2rem 2.5rem;
      font-weight: 300;
      max-width: $max-container-width;
      margin: 0 auto;      
  
      @include respond($mid) {
        padding: 2rem 4.5rem;
      }
    }
  }
}

.content {
  padding: 2rem;
  padding-top: 4rem;
  text-align: center;

  @include respond($mid) {
    padding: 5rem 3rem 3rem;
  }

  & a {
    text-decoration: none;
    color: $color-white;
    display: inline-block;
    padding-top: 1rem;
    transition: all .3s ease;

    &:hover {
      transform: translateY(-5px);
    }
  }
}

.icons {

  & img {
    padding: 2rem;
    width: 8rem;
    height: 8rem;
    transition: all .3s ease;

    &:hover {
      transform: translateY(-3px);
    }
  }
}