@import '../../sass/mixins.scss';
@import '../../sass/variables.scss';


.container {
  width: 100%;
}

.heading {
  background-color: $color-black;
  color: $color-white;
  border-bottom: .5rem solid $color-main;

  h1 {    
    font-weight: 300;
    padding: 2rem 2.5rem;
    max-width: $max-container-width;
    margin: 0 auto;

    @include respond($mid) {
      padding: 2rem 4.5rem;
    }
  }
}

.content {
  padding: 2rem;
  max-width: $max-container-width;
  margin: 0 auto;
}